<body>
  <h1>PokeCa</h1>

  <div class="new_deck">
    <h2>新規作成</h2>
    <p>デッキ名<input class="deck_namae"></input></p>
    <p>スターターキットを使用する際は、スターターキットを選択してください。</br>
    ※初心者の人におすすめ</p>

    <p>
      <input type="radio" name="starter_kit">炎
      <input type="radio" name="starter_kit">水
      <input type="radio" name="starter_kit">雷
      <input type="radio" name="starter_kit">超能力
    </p>

    <button class="deck_create_btn">作 成</button>
  </div>

</body>
